VAPID_PUBLIC_KEY=your_public_vapid_key
VAPID_PRIVATE_KEY=your_private_vapid_key
VAPID_SUBJECT=mailto:your-email@example.com
SEND_SECRET=your_send_secret
PAIR_SETUP_SECRET=your_pair_setup_secret
BLOB_READ_WRITE_TOKEN=your_blob_token
